script(src="https://use.fontawesome.com/0862ab386f.js")
script(src="https://kit.fontawesome.com/279d3cd084.js")
script(src="js/jquery-3.4.1.min.js")
script(src="https://code.jquery.com/jquery-3.5.0.min.js")
script(src="js/bootstrap.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
script(src="js/popper.min.js")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")